@model IEnumerable<Student_attendance_management_system.Models.SecrectCode>

@{
    ViewBag.Title = "Secrect Keys List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    <script src="~/Content/DataTable/DataTableJS.js"></script>

    <link href="~/Content/DataTable/DataTableCss.css" rel="stylesheet" />
}


<div style="margin-left: 140px">
    <h2>Secrect Keys List</h2>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecrectKey)
                </th>

                <th></th>
            </tr>


        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecrectKey)
                    </td>

                </tr>
            }
        </tbody>

    </table>
    
 

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
    });
</script>