@model Student_attendance_management_system.Models.ViewModel.FinalAttendanceViewModel

<link href="~/Content/W3CSS/w3CssPlugIn.css" rel="stylesheet" />
<link href="~/Content/W3CSS/w3CssPlugInFont.css" rel="stylesheet" />

<p align="center">
    <img src="~/Content/Images/Universitylogo.png" width="80" height="80" />
    <h4 align="center"><b>Department of Computer Science & Engineering</b></h4>
    <h5 align="center">
        Jagannath University , Dhaka
    </h5>
    <h6>
<p align="center">Semester: @ViewBag.SemesterName</p>
<p align="center">Batch: @ViewBag.Batch</p>
<p align="center"> Date: @ViewBag.Date</p>

</h6>
</p>

<p><h6> <p align="center">Course Teacher:  @ViewBag.TeacherName</p>
<p align="center">Course Name:   @ViewBag.CourseName</p>
</h6></p>
@using (Html.BeginForm("FinalAttendence", "Attendances", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />



    <div align="center">
        <table border="1" style="width:30%">
            <tr>
                <th>
                    @Html.Label("Student Id")
                </th>
                <th>
                    @Html.Label("Name")
                </th>

                @*<th>
                        @Html.Label("CourseCode")


                    </th>

                    <th>
                        @Html.Label("Batch")


                    </th>
                    <th>
                        @Html.Label("Semester")


                    </th>
                    <th>
                        @Html.Label("Date")


                    </th>*@

                <th>
                    @Html.Label("Status")


                </th>



                <th></th>
            </tr>

            @foreach (var item in Model.Students)
            {
                <tr>

                    <td>
                        @Html.TextBox("StudentId", (string)item.StudentId, new { @readonly = "readonly" })


                    </td>

                    <td>
                        @Html.TextBox("Name", (string)item.Name, new { @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.DropDownList("StatusId", new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Present", Value = "1"},
                        new SelectListItem {Text = "Absent", Value = "2"},

                    })
                    </td>

                    <td class="td1">
                        @Html.DropDownList("CourseId")
                    </td>


                    @Html.Hidden("UserId", (string)ViewBag.UserId)




                    <td class="td2">
                        @Html.TextBox("Batch", (string)ViewBag.Batch, new { @readonly = "readonly" })
                    </td>
                    <td class="td3">
                        @Html.DropDownList("SemesterId")
                    </td>


                    <td class="td4">
                        @Html.TextBox("Date", (string)ViewBag.Date, new { @readonly = "readonly" })

                    </td>





                </tr>
            }

        </table>

        <tr><input type="submit" value="Save" class="btn btn-primary btn-block" /></tr>






    </div>}
<script>


    $(document).ready(function () {
        $(".td1").hide();
        $(".td2").hide();
        $(".td3").hide();
        $(".td4").hide();
    })


</script>

