@model Student_attendance_management_system.Models.ViewModel.FinalAttendanceViewModel

@using (Html.BeginForm("FinalAttendence", "Attendances", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br/>
    <br/>
    <br/>



    <table class="table table-bordered">
        <tr>
            <th>
                @Html.Label("Student Id")
            </th>


            <th>
                @Html.Label("CourseCode")


            </th>

            <th>
                @Html.Label("Batch")


            </th>
            <th>
                @Html.Label("Semester")


            </th>
            <th>
                @Html.Label("Date")


            </th>

            <th>
                @Html.Label("Status")


            </th>



            <th></th>
        </tr>

        @foreach (var item in Model.Students)
        {
            <tr>

                <td>
                    @Html.TextBox("StudentId", (string)item.StudentId,new { @readonly="readonly" })
                    

                </td>


                @Html.Hidden("Name", (string)item.Name)



                <td>
                    @Html.DropDownList("CourseId")
                </td>


                @Html.Hidden("UserId", (string)ViewBag.UserId)




                <td>
                    @Html.TextBox("Batch", (string)ViewBag.Batch, new { @readonly = "readonly" })
                </td>
                <td>
                    @Html.DropDownList("SemesterId")
                </td>


                <td>
                    @Html.TextBox("Date", (string)ViewBag.Date, new { @readonly = "readonly" })

                </td>

                <td>
                    @Html.DropDownList("StatusId", new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Present", Value = "1"},
                        new SelectListItem {Text = "Absent", Value = "2"},
                        new SelectListItem {Text = "On Leave", Value = "3"}
                    })
                </td>



            </tr>
        }
       
    </table>
    
    <table>
        
        <tr>
            <div class="form-group" align="right">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </tr>
    </table>
   
}



