@model IEnumerable<Student_attendance_management_system.Models.Attendance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
<script src="~/Content/DataTable/DataTableJS.js"></script>
    
<link href="~/Content/DataTable/DataTableCss.css" rel="stylesheet" />
}


<br />
<br/>

<table class="table" id="datatable">
    <thead>
        <tr>
           
           
            <th>
                @Html.DisplayName("Student Id")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
              
              
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 


                </td>
            </tr>
        }
    </tbody>
</table>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
    });
</script>